{% extends 'base.html' %}

{% block title %}History{% endblock title %}

{% block content %}
<div class="container mx-auto p-4">
    <h2 class="text-xl font-bold">Search History</h2>
    {% if history %}
    <button onclick="clearHistory()" 
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded flex items-center gap-2 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
            Clear History
    </button>
    {% endif %}
    {% if history %}
    <ul class="mt-2">
        {% for entry in history %}
        <li class="border-b border-gray-200 p-2">{{ entry.timestamp }}: {{ entry.query }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No search history available.</p>
    {% endif %}
</div>

<script>
    function clearHistory() {
        if (confirm("Are you sure you want to clear your search history?")) {
            fetch("{% url 'engine:clear_history' %}", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert("Failed to clear search history: " + data.error);
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Error clearing history");
            });
        }
    }
</script>
{% endblock content %}