{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Login</h2>

        <form method="post" action="{% url 'account_login' %}" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="id_login" class="block text-gray-700 font-bold">Username</label>
                <input type="text" id="id_login" name="login" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md text-gray-900" placeholder="Your username">
            </div>
            <div>
                <label for="id_password" class="block text-gray-700 font-bold">Password</label>
                <input type="password" id="id_password" name="password" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md text-gray-900" placeholder="Your password">
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}